html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

code {
    color: black;
}

p, li, ul, code {
    font-size: 14pt;
}

.dashboard {
    height: 100vh;
}

.code {
    background-color:lightgray;
}

.container {
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-link {
    text-transform: capitalize;
}

.footerTitle {
    text-align: center;
}

.homePara {
    font-size: larger;
}

.heading-one {
    text-indent: 0px;
}

.heading-two {
    text-indent: 10px;
}

.heading-three {
    text-indent: 20px;
}

.heading-four {
    text-indent: 30px;
}

.heading-five {
    text-indent: 40px;
}