html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

code {
    color: black;
}

.dashboard {
    height: 100vh;
}

.code {
    background-color:lightgray;
}

.container {
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-link {
    text-transform: capitalize;
}

.footerTitle {
    text-align: center;
}